*{padding:0;margin:0;list-style: none;text-decoration: none;}
html,body{width:100%;height:100%;font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;}
html{background: url(about:black) fixed;}
#nav{overflow: hidden;height: 60px;width:100%;background:#008676;position: fixed; _position:absolute;z-index: 999;}
#nav a{ color: #ffffff;text-decoration: none;line-height: 60px;display: block;float: left;
     font-weight: bold;padding-left: 20px;padding-right: 20px;font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;}
#nav-position{margin-left: 50px;}
#nav a:hover{background:#8c8c8c;}
#nav h1{width: 200px;float: left;color: #ffffff;line-height: 60px;font-weight: normal;margin-left: 300px;}
#nav img{float: left;}
#nav .personal{width: 100px;height: 60px;float: right;margin-right: 50px;color: #ffffff;}
#nav .personal h3{line-height: 30px;font-weight: normal;}
#nav .personal p{line-height: 30px;}
#content{height: 100%;width: 100%;}
.one, .two, .three, .four, .five, .six{height: 100%;width: 100%;}
#content .one{background:#cff8f3;}
#content .three{background:#6ce7d4;}
#content .four{background:#2ecdb5;}
#content .five{background:#03c4a6;}
#content .six{background:#0ca88c;}
#back{color:#fff;font-size: 30px;width:60px;height: 60px;border:2px solid #ccc;background: #ccc;cursor: pointer;
    position: fixed;bottom: 50px;right: 60px;text-align: center;line-height: 50px;display: none;z-index: 999;}
/*第一页样式表*/
#pic-auto{width: 924px;height: 387px;margin:0 auto;position: relative;top:120px;overflow: hidden;}
.next-div, .prev-div{width: 40px;height: 80px;position: absolute;z-index: 5;filter:alpha(opacity=50);opacity: 0.5;}
.prev, .next{display: block;line-height: 80px;background: #008676;text-align: center;width: 40px;
          height: 80px;color: #ffffff}
.next-div a:hover, .prev-div a:hover{border: 2px solid #cff8f3;width: 36px;height: 76px;filter:alpha(opacity=70);opacity: 0.7;}
.prev-div{left:100px;top: 154px;}
.next-div{right:100px;top: 154px;}
#pic-auto ul li{position: absolute;}
.pos_0, .pos_4{filter:alpha(opacity=50);opacity:0.5;}
.pos_1, .pos_3{filter:alpha(opacity=75);opacity:0.75;}
.pos_0{left: 0;top: 120px;z-index: 1;}
.pos_1{left: 60px;top: 60px;z-index: 2;}
.pos_2{left: 180px;top: 0;z-index: 3;}
.pos_3{left: 475px;top: 60px;z-index: 2;}
.pos_4{left:710px;top: 120px;z-index: 1;}
/*第二页样式表*/
.page2{overflow: hidden;}
.page2-left{width: 50%;float: left;height: 100%;color: #20B2AA;background: #ffffff}
.page2-right{width: 50%;float: right;background:#73f4e0; height: 100%;color: #20B2AA}
.page2-left ul, .page2-right ul{font-size: 18px;width: 350px;margin-top: 130px;}
.page2-left ul{float: right;margin-right: 10px;}
.page2-right ul{margin-left: 10px;float: left;}
.page2-left li, .page2-right li{line-height: 250%;}
.page2-left li{text-align: right;}
.countdown{width: 30px;height: 110px;float: right;background:#008676;color: #ffffff; }
/*第三页样式表*/
#container{width: 800px;height: 600px;margin-left: auto;margin-right: auto;overflow: hidden;}
#container .p1{margin-top: 100px;margin-left: auto;margin-right: auto;}
#container .p3, #container .p2,#container .p5, #container .p6{float: left;}
#container .p4, #container .p7{margin: 0 auto;}
#container p{width: 400px;text-align:center;font-size:3em;margin:20px 0 20px 0; }
#container a{-webkit-transition: all 0.5s; -moz-transition: all 0.5s;transition: all 0.5s;}
/*第四页*/
#page4{position:relative;}
 .itemQK{width: 500px;height:300px;border: 20px groove #28a99a;position: relative;top: 80px;left: 100px;}
 .itemFB{width: 500px;height:300px;border: 20px groove #1c9d8e;position: absolute;top: 280px;left: 500px;
       background:#2ecdb5; }
 #page4 ul li{border-bottom: 1px solid #008676;color:#d7faf6 }
#page4 ul li span{font-weight: bold;}
/*第五页*/
.page5-content{overflow: hidden;height: 550px;width: 902px;margin-left: auto;margin-right: auto;position: relative;}
.page5-nav{width: 200px;height: 450px;float: left;margin-top: 100px;margin-right: 2px;}
.page5-nav li{height: 88px;line-height: 88px;text-align: center;background: #eaeaea;border-bottom: 2px solid#03c4a6;}
.page5-nav li a{color: #03c4a6;font-size: 20px;font-weight: bold;width: 200px;height: 88px;display: block;}
.page5-nav li a:hover{background: #9dbaaf url('../image/xiala-1.png') no-repeat right ;color:#eaeaea;}
.page5-show{width: 230px;height: 448px;z-index: 3;position: absolute;top: 100px;left: 202px;}
.page5-show ul{width: 230px;height: 446px;background: #c9cfcd;filter:alpha(opacity=90);opacity: 0.9;border-top: 1px solid #008676;border-bottom: 1px solid #008676;}
.page5-show li{height: 138px;padding: 10px 10px 0 10px;}
.page5-show .showtop, .page5-show .showmiddle{border-bottom: 1px solid darkslateblue;}
.page5-show li h3{height: 20px;line-height: 20px;margin-bottom: 10px;}
.page5-show li h3 span{*display: inline;*zoom:1;height:20px;width: 20px;line-height: 20px;display:inline-block;
                    margin-left: 10px;background: url('../image/span1.png') no-repeat;vertical-align:top}
.page5-show li a{display: block;font-size: 14px;color: #007769}
.page5-show li a:hover{color: #024e45;}
.skill .show2, .activity .show2,.interest .show1{border-bottom: none;}
.page5-show ul{display:none ;}
.page5Pic{width: 700px;height: 448px;float: left;margin-top: 100px;position: relative;}
.page5Pic img{width: 700px;height: 448px;}
.page5Pic ul{z-index: 4;overflow: hidden;width: 120px;position: absolute;bottom: 10px;left:290px;}
.page5Pic ul li{width: 14px;height: 14px;display: inline-block;background:#03dab9;border-radius: 50%;
cursor: pointer;margin-right: 10px;text-align: center;line-height: 14px;}
.page5Pic .pa{background: #005a4f}
/*第六页*/
.sharp{width:250px;margin-top:150px;margin-left:250px;float:left;padding: 20px;float: left}
.wrapper{height:150px;padding: 20px;}
/*上圆角框通用设置样式，如果要运用多个不同颜色，以下6句不用重新变化--------------------------------*/
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{height:1px; font-size:1px; overflow:hidden; display:block;}
.b1,.b8{margin:0 5px;}
.b2,.b7{margin:0 3px;border-right:2px solid; border-left:2px solid;}
.b3,.b6{margin:0 2px;border-right:1px solid; border-left:1px solid;}
.b4,.b5{margin:0 1px;border-right:1px solid; border-left:1px solid; height:2px;}
.wrapper {border-right:1px solid;border-left:1px solid;overflow:hidden;}/*下面第一、二句决定边框颜色，第三句决定背景颜色*/
/*边框色*/
.color1 .b2,.color1 .b3,.color1 .b4,.color1 .b5,.color1 .b6,.color1 .b7,.color1 .wrapper{border-color:#96C2F1;}
.color1 .b1,.color1 .b8{background:#96C2F1;}
/*背景色*/
.color1 .b2,.color1 .b3,.color1 .b4,.color1 .b5,.color1 .b6,.color1 .b7,.color1 .wrapper{background:#b9f0e9;}
.wrapper h3{font-size: 40px;color: #03c4a6;font-weight: normal;}
.wrapper p{color: #03c4a6;margin-top: 10px;margin-bottom: 20px;border-bottom: 1px solid #03c4a6;}
.wrapper a{margin-top: 20px;display: block;}
.motto{border-left: 2px solid #006559;width: 500px;vertical-align: middle;float: left;margin-top: 170px;
    padding: 20px;text-indent: 2em;line-height: 40px;color: #01574d;}